# SQL Series: Query using Order by
# by Alejandro Beltran

### Initiation

In [2]:
# Load SQL extension using magic functions
%load_ext sql

In [4]:
# Connect to database here.
from dblogin import postgresql_sql_operations_summary, postgresql_dvd_rentals
        
%sql $postgresql_sql_operations_summary 
%sql $postgresql_dvd_rentals

## Intermediate Queries
## Material in this sheet: 

<br>

### Specify the column you want after the word SELECT
### Specify the table after the word FROM.
### Specify rows meeting a condition after word WHERE
### Using comparison operators in queries

In [ ]:
### ORDER BY

In [ ]:
%%sql result << 

SELECT customer_id, amount
FROM payment
WHERE amount >= 2.00
ORDER BY amount ASC;

In [ ]:
# Query for data that shows customers who paid
# an amount GREATER than or EQUAL to $2.00
# Doing so in Ascending order (ASC)

result

In [ ]:
%%sql result << 

SELECT customer_id, amount
FROM payment
WHERE amount <> 0.00
ORDER BY amount DESC;

In [ ]:
# Query for data that shows customers who paid an amount NOT EQUAL to $0.00
# order the result IN DESCENDING order

result

In [ ]:
%%sql result <<

In [ ]:
result